<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <form method="POST" actions="/">
        <label>
            First name
            <input type="text" name="firstname" value="<%= locals.firstname %>" />
            <button tupe="submit">Submit</button>
        </label>
    </form>

</body>

</html>